{% extends 'layout/base.html' %}


{% block body %}

<h1>Zumba</h1>

<p>Zumba is an exercise fitness program created by Colombian dancer and choreographer Alberto "Beto" Pérez during the 1990s. Zumba is a trademark owned by Zumba Fitness, LLC. The Brazilian pop singer Claudia Leitte is the international ambassador to Zumba Fitness. 
    Founder: Alberto "Beto" Pérez; Alberto Perlman; Alberto Aghion
    Founded: October 1998; 22 years ago</p>

{% include 'layout/footer.html' %}
{% endblock body %}

{% block content %}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link active" aria-current="page">AboutUs</a></li>
<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">ContactUs</a></li>
{% endblock content %}


{% block css %}
    <style>
        footer{
            margin-top: 608px;
        }
        h1{
            margin-top: 30px;
        }
    </style>
{% endblock css %}
    