{% extends 'layout/base.html' %}

{% block body %}
<div class="card text-dark bg-info mb-3 my-4" style="max-width: 50rem;">
    <div class="card-header">Yoga Details</div>
    <div class="card-body">
      <h5 class="card-title">Yoga fees</h5>
      <p class="card-text"><p>3 month/5 thousand</p><p>6 month/10 thousand</p><p>12 month/14 thousand</p></p>
    </div>
  </div>

  {% include 'layout/footer.html' %}
  {% endblock body %}
  
  {% block css %}
      <style>
          footer{
              margin-top: 482px;
          }
      </style>
  {% endblock css %}

  {% block content %}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link active" aria-current="page">AboutUs</a></li>
<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">ContactUs</a></li>
{% endblock content %}
    